.wrapper {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.podcast-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.podcast-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.podcast-count {
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.podcast-episodes {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}